*:root{
  --Darkcyan: hsl(185, 75%, 39%);
  --Verydarkdesaturatedblue: hsl(229, 23%, 23%);
  --Darkgrayishblue: hsl(227, 10%, 46%);
  --Darkgray: hsl(0, 0%, 59%);
}
    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Kumbh Sans', sans-serif;
  background: url(../images/bg-pattern-bottom.svg) bottom -600px right -150px no-repeat, url(../images/bg-pattern-top.svg) top -500px left -200px no-repeat;
  background-color: var(--Darkcyan);

 
}
.main_div{
  background: white;
  width: 35%;
  text-align: center;
  margin: 150px auto;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.main_div img{
  border-radius: 50%;
  transform: translateY(-50%);
  border: 5px solid #fefefe;
  margin-bottom: -33px;
}
.main_div .main_name {
  margin-bottom: 8px;
  font-size: 18px;
}
.main_div .victor_aside{
  color: var(--Darkgrayishblue);
  font-family: sans-serif;
  font-weight: 500;
  margin-left: 5px;
}

.location{
  color: var(--Darkgrayishblue);
  font-size: 10;
  font-weight: 400;
}
.follower_div{
  margin-top: 25px;
  border-top: 1px solid #ddd;
  text-align: center;
  padding: 30px 20px;
  display: flex;
  justify-content: space-around;
}
.child p{
  font-size: 10px;
  letter-spacing: 2px;
  margin-top: 5px;
}
.child h3{
  font-size: 18px;
}
@media screen and (max-width: 420px){
  .main_div {

    width: 85%;

  }
  body{
  background: url(../images/bg-pattern-bottom.svg) bottom -600px right -740px no-repeat, url(../images/bg-pattern-top.svg) top -670px left -650px no-repeat;
    background-color: var(--Darkcyan);
  }
}
